@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'FixelDisplay';
        font-style: normal;
        font-weight: 100;
        src: url(../../fonts/FixelDisplay/FixelDisplay-Thin.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: normal;
        font-weight: 200;
        src: url(../../fonts/FixelDisplay/FixelDisplay-ExtraLight.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: normal;
        font-weight: 300;
        src: url(../../fonts/FixelDisplay/FixelDisplay-Light.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: normal;
        font-weight: 400;
        src: url(../../fonts/FixelDisplay/FixelDisplay-Regular.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: normal;
        font-weight: 500;
        src: url(../../fonts/FixelDisplay/FixelDisplay-Medium.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: normal;
        font-weight: 600;
        src: url(../../fonts/FixelDisplay/FixelDisplay-SemiBold.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: normal;
        font-weight: 700;
        src: url(../../fonts/FixelDisplay/FixelDisplay-Bold.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: normal;
        font-weight: 800;
        src: url(../../fonts/FixelDisplay/FixelDisplay-ExtraBold.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: normal;
        font-weight: 900;
        src: url(../../fonts/FixelDisplay/FixelDisplay-Black.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: italic;
        font-weight: 100;
        src: url(../../fonts/FixelDisplay/FixelDisplay-ThinItalic.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: italic;
        font-weight: 200;
        src: url(../../fonts/FixelDisplay/FixelDisplay-ExtraLightItalic.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: italic;
        font-weight: 300;
        src: url(../../fonts/FixelDisplay/FixelDisplay-LightItalic.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: italic;
        font-weight: 400;
        src: url(../../fonts/FixelDisplay/FixelDisplay-RegularItalic.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: italic;
        font-weight: 500;
        src: url(../../fonts/FixelDisplay/FixelDisplay-MediumItalic.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: italic;
        font-weight: 600;
        src: url(../../fonts/FixelDisplay/FixelDisplay-SemiBoldItalic.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: italic;
        font-weight: 700;
        src: url(../../fonts/FixelDisplay/FixelDisplay-BoldItalic.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: italic;
        font-weight: 800;
        src: url(../../fonts/FixelDisplay/FixelDisplay-ExtraBoldItalic.woff2) format('woff2');
    }
    @font-face {
        font-family: 'FixelDisplay';
        font-style: italic;
        font-weight: 900;
        src: url(../../fonts/FixelDisplay/FixelDisplay-BlackItalic.woff2) format('woff2');
    }

    body{
        @apply bg-slate-950 font-fixel;
    }

    h1{
        @apply text-4xl text-amber-100 font-bold;
    }

    h2{
        @apply text-2xl text-amber-100 font-bold;
    }

    h3{
        @apply text-lg text-amber-100 font-medium;
    }

    p{
        @apply text-base text-amber-100 font-normal;
    }

    label{
        @apply text-base text-amber-100 font-normal pb-1;
        }

        

        ::placeholder{
        @apply text-14px text-amber-100 font-light opacity-80 mx-auto;
    }

        input {
            @apply text-14px text-amber-100 font-normal bg-indigo-900 rounded-xl w-full pl-2 py-2 mb-5 border border-amber-100;
        }

        textarea {
            @apply text-14px text-amber-100 font-normal bg-indigo-900 rounded-xl w-full pl-2 py-2 mb-5 border border-amber-100 h-60
        }
}



@layer components{
    .button_submit{
        @apply mx-3.5 rounded-full bg-fuchsia-900 py-[10px] font-semibold text-amber-100 my-5
    }
}

@layer utilities{
    .wrapper{
       @apply p-6 pb-4 h-full
    }

    .wrapper-flex{
        @apply flex flex-col gap-5
    }
}